html,
body {
height: 100%;
width: 100%;
margin: 0;
padding: 0;
}

#root {
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height: 100%;
width: 100%;
overflow: hidden;
}

.arena___root {
display: flex;
flex-direction: column;
justify-content: space-between;
width: 100%;
height: 100%;
background-size: cover;
background-image: url('../../resources/arena.jpg');
background-repeat: no-repeat;
background-position: center;
}

.arena___battlefield {
display: flex;
justify-content: space-around;
margin-bottom: 60px;
}

.arena___right-fighter img {
transform: scaleX(-1);
}

.arena___fighter img {
height: 480px;
}

.arena___fight-status {
display: flex;
margin: 30px;
justify-content: center;
}

.arena___fighter-name {
color: black;
-webkit-text-fill-color: white;
-webkit-text-stroke-width: 1px;
font-size: 26px;
font-family: 'Arial Black';
font-weight: 700;
}

.arena___fighter-indicator {
width: 100%;
display: flex;
align-items: center;
flex-direction: column;
margin: 0 30px;
}

.arena___health-indicator {
width: 100%;
height: 25px;
border: 2px solid;
border-radius: 5px;
margin: 0 10px;
overflow: hidden;
}

.arena___health-bar {
height: 100%;
width: 100%;
background-color: #ebd759;
}

.fighters___root {
display: flex;
flex-direction: column;
width: 100%;
height: 100%;
background-image: url('/main-bg.jpg');
background-size: cover;
background-repeat: no-repeat;
background-position: center;
}

.fighters___list {
margin: 40px;
display: flex;
align-items: center;
justify-content: center;
}

.fighters___fighter {
height: 150px;
max-width: 150px;
flex: 1;
display: flex;
justify-content: center;
cursor: pointer;
background: #ffdfa7;
margin: 10px;
border: 5px solid #ca9650;
}

.fighters___fighter:hover {
background: #cbe4f8;
border: 5px solid #267abf;
}

.fighter-preview___root {
display: flex;
flex-direction: column;
flex-basis: 250px;
}

.fighter-preview___right {
align-items: flex-end;
}

.fighter-preview___left {
align-items: flex-start;
}

.preview-container___root {
flex: 1;
display: flex;
justify-content: center;
align-items: center;
margin: 40px;
}

.preview-container___versus-block {
display: flex;
flex-direction: column;
margin: 0 50px;
align-items: center;
justify-content: center;
}

.preview-container___versus-img {
width: 130px;
}

.preview-container___fight-btn {
padding: 8px 35px;
justify-self: right;
text-align: center;
background: #ba0303;
margin: 40px 0;
color: #f8f9f4;
font-size: 22px;
cursor: pointer;
font-weight: bold;
box-shadow: 6px 6px 7px 0px rgba(0, 0, 0, 0.75);
}

.preview-container___fight-btn.disabled {
opacity: 0;
}

.modal-layer {
position: absolute;
top: 0;
left: 0;
height: 100%;
width: 100%;
display: flex;
align-items: center;
justify-content: center;
background-color: rgba(128, 128, 128, 0.6);
}

.modal-root {
display: flex;
flex-direction: column;
border: 1px solid rgba(0, 0, 0, .2);
background-color: white;
}

.modal-header {
display: flex;
align-items: center;
justify-content: space-between;
min-width: 300px;
padding: 1rem;
border-bottom: 1px solid #e9ecef;
font-weight: 700;
font-size: 22px;
}

.modal-body {
padding: 1rem;
}

.close-btn {
font-size: 1.5rem;
font-weight: 700;
line-height: 1;
cursor: pointer;
}

img {
max-width: 100%;
max-height: 100%;
}

#loading-overlay {
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
display: flex;
align-items: center;
justify-content: center;
font-size: 18px;
background: rgba(255, 255, 255, 0.7);
visibility: hidden;
}